{% extends "base.html" %}
{% load i18n %}

<title>{% block title %}{% trans 'Pasword Changing' %}{% endblock %}</title>

{% block content %}

    <h1> {% trans 'Change Password' %}</h1>
    <div class="ui form segment">
        <form action="{% url 'core:password_change'  %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div {% if field.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ field.errors.0 }}
                        </div>
                  {% endif %}
                </div>
            {% endfor %}

            <button class="ui blue button right">{% trans 'Change Password' %}</button>

        </form>
   </div>

{% endblock %}