{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Adding employee' %} {% endblock %}
{% block content %}

   <h1>{% trans 'Adding employee' %}</h1>

    <div>
        <p>{% trans 'Activation link is sent your email address. Please confirm account of your user for activation' %}</p>
    </div>


{% endblock %}
