{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Employee Information' %} {% endblock %}

{% block content %}
    <h1>{% trans 'Employee Information' %}</h1>
    {% if wrong_user %}
        {% trans 'You have not permission to show this employee information' %}
    {% else %}
        <div class="partner">
            <div class="ui two column middle  relaxed grid basic segment">
                <div style="font-size: 13px; margin-top:0px;" class="column">
                    <div class="label"> {% trans ' Email' %} </div><div > {{ employee.email }} </div>
                    <div class="label"> {% trans 'Name' %} </div><div> {{ employee.get_full_name }} </div>
                    <div class="label"> {% trans 'Position' %} </div><div > {{ employee.position }}</div>
                    <div class="label"> {% trans 'Phone' %} </div><div > {% if employee.phone %} {{ employee.phone }}{% else %}...{% endif %} </div>
                    <div class="label"> {% trans 'Country' %} </div><div > {% if employee.country %} {{ employee.country }}{% else %}...{% endif %} </div>
                    <div class="label"> {% trans 'City' %} </div><div> {% if employee.city %} {{ employee.city }}{% else %}...{% endif %} </div>
                </div>
            </div>
        </div>
    {% endif %}


{% endblock %}