{% extends 'base.html' %}
{% load i18n core_tags %}
{% block title %} {% trans 'Partnership Panel' %} {% endblock %}

{% block head.extra %}
    <script>
        function showWSForm(element) {
            $("#add_ws_block").show();
            $("#show_add_new_ws").hide();
        }
    </script>

    <script>
        function showUserForm(element) {
            $("#add_user_block").show();
            $("#show_add_new_user").hide();
        }
    </script>

{% endblock head.extra %}

{% block content %}
    <h1>{% trans 'Partnership panel' %}</h1>
    {% if is_partner %}
        <div class="ppanel">
            <h3><i class="archive icon" ></i>{% trans 'Workspaces' %}</h3>
            <table class="ui large table segment">
                <thead>
                    <tr><th>{% trans 'Subject' %}</th>
                    <th>{% trans 'Files' %}</th>
                    <th>{% trans 'Messages' %}</th>
                    <th>{% trans 'Created date' %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for workspace in workspaces %}
                    <tr >
                        <td><a href="{%  url 'core:workspace_detail' workspace.id %}">{{ workspace.name }}</a></td>
                        <td>{{ workspace.files.all|length }} {% trans ' files' %}</td>
                        <td><i class="mail icon" ></i>{{ workspace.messages.all|length }} {% trans ' messages' %}</td>
                        <td>{{ workspace.created_date|date:'b d, Y H:i'  }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    {% if user.manager %}
                        <tr><th colspan="4">
                          <button id="show_add_new_ws" onclick="showWSForm(this)" style="padding-top: 5px; padding-bottom: 5px;" class="ui blue right labeled icon button">
                                <i style="padding-top: 5px;" class="add sign box icon"></i>
                                {% trans 'add new' %}
                            </button>
                            </th>
                        </tr>
                    {% endif %}
                </tfoot>
            </table>

            <div id="add_ws_block" {% if not workspace_form.errors %} hidden="" {% endif %} class="ui form segment">
                <form id="add_ws_form" action="{%  url 'core:partnership_panel' %}" method="post">
                    {% csrf_token %}
                    <div {% if workspace_form.name.errors %} class="field error" {% else %} class="field" {% endif %}>
                        {{ workspace_form.name.label_tag }}
                        {{ workspace_form.name }}
                        {% if workspace_form.name.errors %}
                            <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                {{ workspace_form.name.errors.0 }}
                            </div>
                        {% endif %}
                    </div>

                    <div style="margin-bottom: 5px;" class="field" >
                        {{ workspace_form.description.label_tag }}
                        {{ workspace_form.description }}
                    </div>

                    <button  style="padding-top: 5px; padding-bottom: 5px;" class="ui blue right labeled icon button">
                        <i style="padding-top: 5px;" class="add sign box icon"></i>
                        {% trans 'create' %}
                    </button>
                </form>
            </div>

            <br/>

            <h3 class="partnership-programs">{% trans 'Partnership programs' %}</h3>
            <table class="ui large table segment">
                <thead>
                    <tr><th>{% trans 'Program' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'Update date' %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for program in programs %}
                    {% with status=program|get_program_status:user.partner %}
                        {% if status != 'None' %}
                        <tr >
                            <td>{{ program.name }}</td>
                            <td>{{ status }}</td>
                            <td>{{ program.update_date }}</td>
                        </tr>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>

            <br/>

            <h3><i class="community basic icon" ></i>{% trans 'Your employees' %}</h3>
            <table class="ui large table segment">
                <thead>
                    <tr><th>{% trans 'Name' %}</th>
                    <th>{% trans 'Position' %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr >
                        <td><a href="{% url 'core:employee_info' user.id %}">{{ user.get_full_name }}</a></td>
                        <td> {{ user.position }}</td>
                    </tr>
                {% endfor %}
                </tbody>
              <tfoot>
                <tr><th colspan="3">
                    {% if user.manager %}
                    <button id="show_add_new_user" onclick="showUserForm(this)" style="padding-top: 5px; padding-bottom: 5px;" class="ui blue right labeled icon button">
                        <i style="padding-top: 5px;" class="add sign box icon"></i>
                        {% trans 'add new' %}
                    </button>
                    {% endif %}
                </th>
              </tr></tfoot>
            </table>

            <div id="add_user_block" {% if not user_form.errors %} hidden="" {% endif %} class="ui form segment">
                <div class="ui form segment">
                    <form action="{% url 'core:partnership_panel'  %}" method="post">
                        {% csrf_token %}

                        <div class="two fields">
                          <div {% if user_form.first_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ user_form.first_name.label_tag }}
                            <input id="id_first_name" maxlength="50" placeholder="{% trans 'First Name' %}" name="first_name" type="text" />
                            {% if user_form.first_name.errors %}<div class="ui red pointing prompt label transition visible" style="display: inline-block;">{{ user_form.first_name.errors.0 }}</div>{% endif %}
                          </div>

                          <div {% if user_form.last_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ user_form.last_name.label_tag }}
                            <input id="id_last_name" maxlength="50" placeholder="{% trans 'Last Name' %}" name="last_name" type="text" />
                            {% if user_form.last_name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ user_form.last_name.errors.0 }}
                                </div>
                            {% endif %}
                          </div>
                        </div>

                        <div {% if user_form.email.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ user_form.email.label_tag }}
                          {{ user_form.email }}
                          {% if user_form.email.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ user_form.email.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if user_form.password1.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ user_form.password1.label_tag }}
                          {{ user_form.password1 }}
                          {% if user_form.password1.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ user_form.password1.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
                        <div {% if user_form.password2.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ user_form.password2.label_tag }}
                          {{ user_form.password2 }}
                          {% if user_form.password2.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ user_form.password2.errors.0 }}
                                </div>
                          {% endif %}
                        </div>

                        <div {% if user_form.position.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ user_form.position.label_tag }}
                          {{ user_form.position }}
                          {% if user_form.position.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ user_form.position.errors.0 }}
                                </div>
                          {% endif %}
                        </div>

                        <div {% if user_form.company.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ user_form.company.label_tag }}
                          {{ user_form.company }}
                          {% if user_form.company.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ user_form.company.errors.0 }}
                                </div>
                          {% endif %}
                        </div>


                        <div class="two fields">
                          <div class="field">
                            {{ user_form.country.label_tag }}
                            {{ user_form.country }}
                          </div>

                          <div class="field">
                            {{ user_form.city.label_tag }}
                            {{ user_form.city }}
                          </div>
                        </div>

                        <div class="two fields">
                          <div class="field">
                            {{ user_form.phone.label_tag }}
                            {{ user_form.phone }}
                          </div>
                          <div class="field">
                            {{ user_form.skype.label_tag }}
                            {{ user_form.skype }}
                          </div>
                        </div>
                        <button class="ui blue button right">{% trans 'create' %}</button>

                    </form>
                </div>
            </div>

        </div>
    {% else %}
        {% trans 'Acess denied.' %}
    {% endif %}


{% endblock content %}