{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Registration' %} {% endblock %}

{% block content %}

   {% if message_sent %}
    <p>{% trans 'Activation link is sent your email address. Please confirm your account and then log in' %}
    {% else %}
       <h1>{% trans 'Become our partner' %}</h1>
       <div class="ui form segment">
            <form autocomplete="off" action="{% url 'core:registration'  %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="two fields">
                  <div {% if form.first_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                    {{ form.first_name.label_tag }}
                    <input id="id_first_name" maxlength="50" placeholder="{% trans 'First Name' %}" name="first_name" type="text" />
                    {% if form.first_name.errors %}<div class="ui red pointing prompt label transition visible" style="display: inline-block;">{{ form.first_name.errors.0 }}</div>{% endif %}
                  </div>

                  <div {% if form.last_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                    {{ form.last_name.label_tag }}
                    <input id="id_last_name" maxlength="50" placeholder="{% trans 'Last Name' %}" name="last_name" type="text" />
                    {% if form.last_name.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.last_name.errors.0 }}
                        </div>
                    {% endif %}
                  </div>
                </div>

                <div {% if form.user_email.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.user_email.label_tag }}
                  {{ form.user_email }}
                  {% if form.user_email.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.user_email.errors.0 }}
                        </div>
                    {% endif %}
                </div>

                <div {% if form.password1.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.password1.label_tag }}
                  {{ form.password1 }}
                  {% if form.password1.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.password1.errors.0 }}
                        </div>
                  {% endif %}
                </div>
                <div {% if form.password2.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.password2.label_tag }}
                  {{ form.password2 }}
                  {% if form.password2.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.password2.errors.0 }}
                        </div>
                  {% endif %}
                </div>

                <div {% if form.user_phone.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.user_phone.label_tag }}
                  {{ form.user_phone }}
                  {% if form.user_phone.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.user_phone.errors.0 }}
                        </div>
                  {% endif %}
                </div>

                <div {% if form.user_position.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.user_position.label_tag }}
                  {{ form.user_position }}
                  {% if form.user_position.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.user_position.errors.0 }}
                        </div>
                  {% endif %}
                </div>

                <div {% if form.company.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.company.label_tag }}
                  {{ form.company }}
                  {% if form.company.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.company.errors.0 }}
                        </div>
                  {% endif %}
                </div>

                <div {% if form.logo.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.logo.label_tag }}
                  {{ form.logo }}
                  {% if form.logo.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.logo.errors.0 }}
                        </div>
                  {% endif %}
                </div>

                <div {% if form.partner_email.errors %} class="field error" {% else %} class="field" {% endif %}>
                  {{ form.partner_email.label_tag }}
                  {{ form.partner_email }}
                  {% if form.partner_email.errors %}
                        <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                            {{ form.partner_email.errors.0 }}
                        </div>
                  {% endif %}
                </div>

                <div class="two fields">
                  <div class="field">
                    {{ form.country.label_tag }}
                    {{ form.country }}
                  </div>

                  <div class="field">
                    {{ form.city.label_tag }}
                    {{ form.city }}
                  </div>
                </div>

                <div class="two fields">
                  <div class="field">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                  </div>
                  <div class="field">
                    {{ form.zipcode.label_tag }}
                    {{ form.zipcode }}
                  </div>
                </div>

                <div class="two fields">
                  <div class="field">
                    {{ form.phone.label_tag }}
                    {{ form.phone }}
                  </div>
                  <div class="field">
                    {{ form.fax.label_tag }}
                    {{ form.fax }}
                  </div>
                </div>

                <div class="two fields">
                  <div class="field">
                    {{ form.website.label_tag }}
                    {{ form.website }}
                  </div>
                  <div class="field">
                    {{ form.skype.label_tag }}
                    {{ form.skype }}
                  </div>
                </div>
                <button class="ui blue button right">{% trans 'Submit' %}</button>

            </form>
       </div>
                

    {% endif %} 

	
{% endblock %}