{% extends "base.html" %}
{% load i18n %}

<title>{% block title %} {% trans 'User Registration' %} {% endblock %}</title>

{% block content %}

{#   {% if message_sent %}#}
    <p>
{#        {% trans '' %}#}
{#    {% else %}#}
       <h1>{% trans 'User Registration' %}</h1>
       <div class="ui form segment">
            <form autocomplete="off" action="{% url 'core:user_registration'  %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                        <div class="two fields">
                          <div {% if form.first_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ form.first_name.label_tag }}
                            <input id="id_first_name" maxlength="50" placeholder="{% trans 'First Name' %}" name="first_name" type="text" />
                            {% if form.first_name.errors %}<div class="ui red pointing prompt label transition visible" style="display: inline-block;">{{ form.first_name.errors.0 }}</div>{% endif %}
                          </div>

                          <div {% if form.last_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ form.last_name.label_tag }}
                            <input id="id_last_name" maxlength="50" placeholder="{% trans 'Last Name' %}" name="last_name" type="text" />
                            {% if form.last_name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.last_name.errors.0 }}
                                </div>
                            {% endif %}
                          </div>
                        </div>

                        <div {% if form.email.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.email.label_tag }}
                          {{ form.email }}
                          {% if form.email.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.email.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if form.password1.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.password1.label_tag }}
                          {{ form.password1 }}
                          {% if form.password1.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.password1.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
                        <div {% if form.password2.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.password2.label_tag }}
                          {{ form.password2 }}
                          {% if form.password2.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.password2.errors.0 }}
                                </div>
                          {% endif %}
                        </div>

                        <div {% if form.phone.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.phone.label_tag }}
                          {{ form.phone }}
                          {% if form.phone.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.phone.errors.0 }}
                                </div>
                          {% endif %}
                        </div>


                        <div class="two fields">
                          <div class="field">
                            {{ form.country.label_tag }}
                            {{ form.country }}
                          </div>

                          <div class="field">
                            {{ form.city.label_tag }}
                            {{ form.city }}
                          </div>
                        </div>

                        <div class="two fields">
                          <div class="field">
                            {{ form.skype.label_tag }}
                            {{ form.skype }}
                          </div>
                        </div>
                        <button class="ui blue button">{% trans 'Submit' %}</button>

            </form>
       </div>
                

{#    {% endif %}#}

	
{% endblock %}