{% extends 'base.html' %}
{% load i18n core_tags %}
{% block title %} {% trans 'Partnership Panel' %} {% endblock %}

{% block head.extra %}
    <script>
        function showFileForm(element) {
            $("#id_send_file_block").show();
            $("#show_add_new").hide();
        }
    </script>

{% endblock head.extra %}

{% block content %}
    {% if is_partner %}
        <h1>{% trans workspace.name %}</h1>
        <div class="">
            <h3><i class="file icon" ></i>{% trans 'Sent files' %}</h3>
            <table class="ui large table segment">
                <thead>
                    <tr><th>{% trans 'Name' %}</th>
                    <th>{% trans 'Comment' %}</th>
                    <th>{% trans 'Send date' %}</th>
                    <th>{% trans 'User' %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for file in workspace.files.all %}
                    {% if file.partner %}
                        <tr >
                            <td><a href="{{ MEDIA_URL }}{{ file.file }}">{{ file.name }}</a></td>
                            <td>{{ file.comment }}</td>
                            <td>{{ file.send_date|date:'b d, Y H:i'  }}</td>
                            <td>{{ file.user.get_full_name }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
              <tfoot>
                <tr><th colspan="4">
                    <button id="show_add_new" onclick="showFileForm(this)" style="padding-top: 5px; padding-bottom: 5px;" class="ui blue right labeled icon button">
                        <i style="padding-top: 5px;" class="add sign box icon"></i>
                        {% trans 'add new' %}
                    </button>
                </th>
              </tr></tfoot>
            </table>
            <div id="id_send_file_block" {% if not file_form.errors %} hidden="" {% endif %}class="ui form segment" style="border-style: none;">
                <form id="send_file_form" action="{%  url 'core:workspace_detail' workspace.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="two fields">
                        <div {% if file_form.name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ file_form.name.label_tag }}
                            {{ file_form.name }}
                            {% if file_form.name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ file_form.name.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if file_form.file.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ file_form.file.label_tag }}
                            {{ file_form.file }}
                            {% if file_form.file.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ file_form.file.errors.0 }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div style="margin-bottom: 5px;" {% if file_form.comment.errors %} class="field error" {% else %} class="field" {% endif %}>
                        {{ file_form.comment.label_tag }}
                        {{ file_form.comment }}
                    </div>

                    <button id="add_file"  style="padding-top: 5px; padding-bottom: 5px;" class="ui blue right labeled icon button">
                        <i style="padding-top: 5px;" class="add sign box icon"></i>
                        {% trans 'send' %}
                    </button>
                </form>
            </div>

            <br/>

            <h3><i class="file icon" ></i>{% trans 'Incoming files' %}</h3>
            <table class="ui large table segment">
                <thead>
                    <tr><th>{% trans 'Name' %}</th>
                    <th>{% trans 'Comment' %}</th>
                    <th>{% trans 'Send date' %}</th>
                    <th>{% trans 'User' %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for file in workspace.files.all %}
                    {% if not file.partner %}
                        <tr >
                            <td><a href="{{ MEDIA_URL }}{{ file.file }}">{{ file.name }}</a></td>
                            <td>{{ file.comment }}</td>
                            <td>{{ file.send_date|date:'b d, Y H:i'  }}</td>
                            <td>{{ file.user.get_full_name }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
              <tfoot>
                <tr><th colspan="4">
                </th>
              </tr></tfoot>
            </table>
        </div>

        <h3 style="margin-top: 45px;"><i class="mail icon" ></i>{% trans 'Messages' %}</h3>
        {% for message in workspace.messages.all %}
            <div  {% if forloop.first %} class="ui top attached segment"{% elif forloop.last %} class="ui bottom attached segment" {% else %} class="ui attached segment" {% endif %}>
                <h4 style="float: left;margin-right: 5px;">{{ message.user.get_full_name }},</h4>
                <p>{{ message.send_date|date:'b d, Y H:i' }}</p>
                <p style="margin-left: 14px;">{{ message.message }}</p>
            </div>
        {% endfor %}

        <div class="ui form segment" style="border-style: none;">
            <form action="{% url 'core:workspace_detail' workspace.id %}" method="post">
                {% csrf_token %}
                <div style="margin-bottom: 5px;" {% if file_form.comment.errors %} class="field error" {% else %} class="field" {% endif %}>
                        {{ message_form.message }}
                    </div>
                <button class="ui blue button right">{% trans 'send' %}</button>
            </form>
        </div>
    {% else %}
        {% trans 'Access denied.' %}
    {% endif %}



{% endblock content %}