
.left {

	float:left;
	max-width: 250px;
	max-height: 200px;

	}

.middle-img {
	float:left;
	max-width: 300px;
	max-height: 270px;
}


#headline {
	float:left;
	background:#fff;
	padding:15px 13px;
	font-size:1.05em;
	line-height:1.5em;
	margin:1px 0px;
    border-radius: 3px;

	}

#headline div.meta {
	display:block;
	padding-bottom:2px;
	}

#headline p {
	background: #FFF;
	color: #333;
	padding-bottom: 0px;
	}

#headline p {
	background: #FFF;
	color: #333;
	padding-bottom: 0px;
	}


#headline a img, #featured a img {
	border:1px solid #bbb;
	margin-top:5px;
	margin-right:10px;
	}

.meta {
	margin-top:-5px;
	font-size:0.8em;
	color:#333;
	}

.meta a {
	color:#333;
	}





/*  Paginator style*/

.pager {
      padding-top: 20px;
      padding-left: 120px;
      line-height: 80px;
      clear: both;
      }
   .pager .page a {
      border: 3px solid #bbbbbb;
      margin-left: 3px;
      margin-right: 3px;
      padding-left: 4px;
      padding-right: 4px;
      text-decoration: none;
      color: #000000;
      }
   .pager .current {
      border: 3px solid #444444;
      margin-left: 4px;
      margin-right: 4px;
      padding-left: 4px;
      padding-right: 3px;
      }






