* { margin: 0; padding: 0; outline: 0; }

html, body { height: 100%; }

body {
    font-size: 12px;
    line-height: 22px;
    font-family: arial, sans-serif;
    color: #5c5c5c;
    background: #e7e7e7;
    min-width: 951px;
}

a { color: #246298; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -52px; }

.shell { width: 991px; margin: 0 auto; }
img.logo { max-height:70px }

#header  { height: 80px; background: url(images/header.png) repeat-x 0 13px #fff; }
#header .left { padding: 5px 0 0 6px; }

#logo { display: inline; width: 219px; font-size: 0; line-height: 0; }
#logo  { display: block; width:214px; height: 55px;
    padding: 15px; background: url(images/logo2.PNG) no-repeat 0 0; background-size: 214px 55px; }

#navigation { display: inline; float: right; }
#navigation ul li { display: inline; float: left; list-style: none; font-family: 'Trebuchet MS', arial, sans-serif; font-size: 14px; line-height: 80px; text-transform: uppercase; padding: 0 1px; border-right: 1px solid #eee}
#navigation ul li.first { border-left: 1px solid #eee }
#navigation ul li a { float: left; color: #515151; padding: 3px 15px 0; margin-right: 1px; height: 80px; background: url(images/nav-item.png) repeat-x 0 -4000px; }
#navigation ul li a:hover {text-decoration: none; color: #246298; background: rgba(200,200,200, 0.2)}
#navigation ul li.first a:hover { background-position: 0 -71px; }

#slider-holder { padding-top: 1px; height: 462px; background: url(images/slider-holder.png) repeat-x 0 0; }

#main { padding-top: 49px; background: url(images/main.png) repeat-x 0 0; overflow: hidden; clear: both; }

h2 { padding-bottom: 0px; font-family: 'Trebuchet MS', arial, sans-serif; font-size: 22px; line-height: 26px; color: #000; }

#content { padding: 8 6 26px 6px; width:692px;min-height: 400px; float:left; background-color:#fff; border:2px solid #ededed; border-radius: 7px; margin-bottom:15px; }
#content .last { padding-right: 0; }
#content h1{padding: 0px 10px 10px 0px; margin: 1px auto;}
#content .ppanel {padding:0px 4px;}
#content .ppanel h3 {padding:0px;margin:10px 0px -8px 0px;}
#content .ppanel a {text-decoration: none;}
#content .ppanel i.archive.icon {font-size: 1.4em;margin-right:2px;}
#content .ppanel i.community.basic.icon {font-size: 1.5em;margin-right:3px;margin-top:-2px;}
#content .ppanel i.mail.icon {font-size: 1.2em}
#content .ppanel h3.partnership-programs {background:url('imgs/partnership.png') no-repeat 0 -1px; padding-left: 28px;}

#content .workspace-message p {margin-left: 30px;margin-bottom: 10px; margin-top: -2px;}
#content .workspace-message h4 {margin-left: 5px;}

#rightbar {float:right; width:270px;  min-height: 400px; margin-bottom: 10px;}

#rightbar .login {padding: 7px 2px;min-height: 80px;borderbackground-color:#fcfcfc; border:2px solid #ededed; border-radius: 7px; background-color:#fcfcfc; }
#rightbar .login .buttons {margin:20px 10px 15px 40px;}
#rightbar .login a {text-decoration: none; margin: 8px 7px 17px 12px;}
#rightbar .login p {padding: 0px 10px;line-height: 16px;}
#rightbar .login  i.lock.icon {font-size: 3.5em;float: left;margin: 0px;}
#rightbar .login  i.user.icon {font-size: 3.5em;float: left;margin: 0px;}
#rightbar .login  i.info.icon {font-size: 3.5em;float: left;margin: 0px;}


#rightbar  .links-list { margin:0 auto;background-color:#fcfcfc; margin: -9px 4px 21px 33px; padding: 0px;}
#rightbar  .links-list .link {margin: -2px 0px;}
#rightbar  .links-list .link a {text-decoration: none;}
#rightbar  .links-list ul.link li {font-weight: normal;list-style-type:none; margin: 0px;padding: 0px 0px 0px 0px;}
#rightbar  .links-list ul.link li.text {background:url('imgs/text.png') no-repeat 0px 2px; padding-left: 18px; padding-top: 1px;}
#rightbar  .links-list ul.link li.file {background:url('imgs/document_open.png') no-repeat 0px 3px; padding-left: 18px; padding-top: 1px;}

#userlinks {width:268px; margin:0 auto; background-color:#fff; border:2px solid #ededed; border-radius: 7px; margin-top:8px; padding:14px 0 14px 0; overflow:hidden}
#userlinks ul.list {list-style-type:none; margin-left:15px}
#userlinks ul.list li {font-size:1.1em; font-weight:bold; padding-left:30px; margin-bottom:10px}
#userlinks ul.list li.news {background:url('imgs/news.png') no-repeat 0 -1px}
#userlinks ul.list li.program-materials {background:url('imgs/file_download.png') no-repeat 0 -1px}
#userlinks ul.list li.partnership-programs {background:url('imgs/partnership.png') no-repeat 0 -1px}
#userlinks hr {margin-bottom: 15px; clear:both; border: 0; border-bottom: 1px solid #ccc;width:90%; height:10px}

/* partner information */
.partner  {padding:0px 10px;}
.partner .label {font-weight: bold; padding:0px 17px; text-align: right; float: left;width: 85px;}
/*.partner .value {width: 130px; border: 1px solid red;}*/
.partner img  {float:left;	max-width: 150px; border-radius: 10px; margin-right: 15px;}
.partner .actions  {padding: 5px 10px; border-radius: 5px;border:1px solid #ededed; margin-left: 175px;}
.partner hr {margin-bottom: 15px; clear:both; border: 0; border-bottom: 1px solid #ccc; height:10px}



.post { display: inline; float: left; padding: 0 31px 37px 20px; width: 282px; }
.post a { text-decoration: underline; }
.post a:hover { text-decoration: none; }
.post .img-frame { margin-bottom: 20px; width: 296px; background: #fff; }
.post .img-frame img { display: block; }
.post .img-frame .top { background: url(images/img-frame-top.png) no-repeat 0 0; }
.post .img-frame .bottom { padding: 5px; background: url(images/img-frame-bottom.png) no-repeat 0 bottom; }

.quote-post { position: relative; width: 945px; }
.quote-post p { font-family: Georgia, 'Times new roman', serif; font-size: 14px; font-style: italic; line-height: 24px; }
.quote-post p.signature { position: absolute; top: 101px; right: 3px; width: 100%; text-align: right; font-family: Arial, helvetica, serif; font-size: 12px; line-height: 22px; font-style: normal; }
.quote-post img.quoutes { padding: 0 8px 4px 0; }

.quote-post .top { padding-top: 5px; background: url(images/quote-top.png) no-repeat 0 0; }
.quote-post .middle { position: relative; background: url(images/quote-middle.png) repeat-y 0 0; }
.quote-post .bottom { padding: 8px 40px 31px 27px; background: url(images/quote-bottom.png) no-repeat 0 bottom; }

.widgets { padding: 0 0 46px 5px; width: 950px; }
.col { display: inline; float: left; width: 450px; }
.col ul { padding: 2px 0 0 15px; color: #246298; list-style: square; }

.about-us { padding-right: 45px; }
.about-us h2 { padding: 0 0 13px 36px; background: url(images/about-us.png) no-repeat 0 0; }

.activities h2 { padding: 0 0 13px 41px; background: url(images/activites.png) no-repeat 0 3px; }

#footer-push { height: 52px; }

#footer { padding-top: 14px; height: 38px; background: url(images/footer.png) repeat-x 0 0; }
#footer p.copy { display: inline; float: right; padding-right: 1px; font-family: 'Trebuchet MS', arial, sans-serif; line-height: 17px; color: #7a9ebd; }
#footer p.copy span { color: #294c6b; padding: 0 10px 0 7px;  }
#footer p.copy a { color: #a7d6ff; text-decoration: underline; }
#footer p.copy a:hover { text-decoration: none; }

#bottom-nav { padding-left: 4px; font-family: 'Trebuchet MS', arial, sans-serif; font-size: 11px; line-height: 18px; color: #294c6b; text-transform: uppercase; }
#bottom-nav a { color: #638db2; }
#bottom-nav span { padding: 0 8px 0 8px; }

/*Vacancy*/
.vacancy{
    /*border: 1px solid red;*/
    width: 300px;
    height: 150px;
    float: left;
    padding: 10px;
    margin: 2px 25px 10px 0;
    background-color: #ffffe7;
    border-radius: 6px;

}
.vacancy span{
    float: right;
}

.vacancy-detail{
    /*border: 1px solid red;*/
    width: 650px;
    /*height: 180px;*/
    float: left;
    padding: 10px;
    margin: 2px 25px 10px 0;
    background-color: #FFFFFF;
    border-radius: 6px;
}
.vacancy-detail span{
    float: right;
    /*margin-left: 20px;*/
}
/*<<<<<<< HEAD*/
/*.vacancy-detail.field{*/
/*=======*/
.vacancy-detail .field {
/*>>>>>>> 650b60009d75f869336c8042cf090a24a753bffb*/
    font-weight: bold;
}
.vacancy-detail p{
    margin-left: 20px !important;
}
/*.btn,*/
/*.btn {*/
  /*background-color: #6ECFF5;*/
  /*color: #FFFFFF;*/
/*float: right;*/

/*}*/
.btn{
    float: right;
    background-color: #6ECFF5;
    color: #FFF;

    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    min-height: 1em;
    outline: medium none;
    border: medium none;
    /*background-color: #FAFAFA;*/
    /*color: #808080;*/
    margin: 0em;
    padding: 0.8em 1.5em;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05));
    border-radius: 0.25em;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08) inset;
    -moz-user-select: none;
    box-sizing: border-box;
    /*transition: opacity 0.25s ease 0s, background-color 0.25s ease 0s, color 0.25s ease 0s, #000 0.25s ease 0s, box-shadow 0.25s ease 0s;*/
}
.btn:hover,
.btn:hover,
.btn .active.btn,
.btn.active {
  background-color: #1AB8F3;
  color: #FFFFFF;
}
.btn:active,
.btn:active {
  background-color: #0AA5DF;
  color: #FFFFFF;
}

.requirements span{
    font-weight: bold;
}
.requirements .right{
    margin: 0 80px 0 0;
}