{% extends "base.html" %}
{% load filename_tags %}
{% load i18n %}

{% block title %} {% trans 'My Application' %} {% endblock %}

<script>
var fileExtentionRange = '.zip .rar .tar .pdf .doc .docx .xls .xlsx .ppt .pptx';
        var MAX_SIZE = 30; // MB

        $(document).on('change', '.btn-file :file', function() {
            var input = $(this);

            if (navigator.appVersion.indexOf("MSIE") != -1) { // IE
                var label = input.val();

                input.trigger('fileselect', [ 1, label, 0 ]);
            } else {
                var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                var numFiles = input.get(0).files ? input.get(0).files.length : 1;
                var size = input.get(0).files[0].size;

                input.trigger('fileselect', [ numFiles, label, size ]);
            }
        });

        $('.btn-file :file').on('fileselect', function(event, numFiles, label, size) {
            $('#resultfile').attr('name', 'resultfile'); // allow upload.

            var postfix = label.substr(label.lastIndexOf('.'));
             $('#_resultfile').val(label);
            if (fileExtentionRange.indexOf(postfix.toLowerCase()) > -1) {
                if (size > 1024 * 1024 * MAX_SIZE ) {
                	alert('max size：<strong>' + MAX_SIZE + '</strong> MB.');

                    $('#resultfile').removeAttr('name'); // cancel upload file.

                } else {
                    $('#_resultfile').val(label);
                }
            } else {
                alert('file type：<br/> <strong>' + fileExtentionRange + '</strong>');

                $('#resultfile').removeAttr('name'); // cancel upload file.
            }
        });
</script>

{% block content %}
    {% trans 'Job Applications' %}
<h2>{% trans 'Requirements' %}</h2>
    <div class="requirements">
<div class="left"><span>{% trans 'Location' %}::</span> {{ vacancy.vacancy.location }}</div>
<div class="right"><span>{% trans 'Education' %}::</span> {{ vacancy.vacancy.education }}</div>
    <br>
<div class="left"><span>{% trans 'Salary description' %}::</span> {{ vacancy.vacancy.salary_description }}</div>
<div class="right"><span>{% trans 'Experience' %}:: </span> {{ vacancy.vacancy.experience }}</div>
    <br>
    </div>
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Tasks~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
<h2>{% trans 'Tasks' %}</h2>

<table class="ui table segment">
    <thead>
            <tr>
                <th class="text-left">{% trans 'Name' %}</th>
                <th class="text-left">{%  trans 'Source File' %}</th>
                <th class="text-left">{%  trans 'Deadline' %}</th>
                <th class="text-left">{%  trans 'Result File' %}</th>
            </tr>
    </thead>
    <tbody>
    {% for task in tasks %}
        <tr>
            <td>{{ task.name }} {{ task.id }}</td>           {# Position #}
            <td><a href="{{ MEDIA_URL }}{{ task.sourcefile }}"> {{ task.sourcefile|sourcefilename }}</a></td>                  {# Date #}
            <td>{{ task.deadline }}</td>               {# Status #}
             {% if  not task.resultfile %}
            <td>
                <form method="POST"  enctype="multipart/form-data">
                {% csrf_token %}
                        <div class="field">
                            <div class="ui action input">
                                <input type="text" id="_resultfile">
                                <label for="resultfile" class="ui icon button btn-file">
                                     <i class="attachment basic icon"></i>
                                     <input type="file" id="resultfile" name="resultfile" style="display:none">
                                </label>
                            </div>
                        </div>
                        <input type="hidden" id="id_id"  name="id" value="{{ task.id }}">
                        <button  class="ui blue button">{% trans 'Submit' %}</button>
                </form>
            </td>
            {% else %}
                <td><a href="{{ MEDIA_URL }}{{ task.resultfile }}"> {{ task.resultfile|resultfilename }}</a></td>               {# Status #}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Online Interview~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}
<h2>{% trans 'Online Interview' %}</h2>
    <table class="ui table segment">
        <thead>
                <tr>
                    <th class="text-left">{% trans 'Date' %}</th>
                    <th class="text-left">{% trans 'Connection' %}</th>
                    <th class="text-left">{% trans 'Comment' %}</th>
                </tr>
        </thead>
        <tbody>
        {% for interview in interviews %}
            <tr>
                <td>{{ interview.date}}</td>           {# Position #}
                <td>{{ interview.connection }}</td>                  {# Date #}
                <td>{{ interview.comment }}</td>               {# Status #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  MessaginG  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~#}

    <h3 style="margin-top: 45px;"><i class="mail icon" ></i>{% trans 'Messages' %}</h3>
    <div class="ui form segment" style="border-style: none;">
        <form action="{% url 'core:message_form' %}" method="post">
            {% csrf_token %}
                                        <input type="hidden" id="id_userid"  name="userid" value="{{ request.user.id }}">
                        <input type="hidden" id="id_applicationid"  name="applicationid" value="{{ vacancy.id }}">

            <div style="margin-bottom: 5px;" {% if file_form.comment.errors %} class="field error" {% else %} class="field" {% endif %}>
                    {{ form2.message }}
                        <button class="ui blue button right"> {% trans 'send' %}</button>
                </div>
        </form>
    </div>

    {% for object in msg %}
            <div  {% if forloop.first %} class="ui top attached segment"{% elif forloop.last %} class="ui bottom attached segment" {% else %} class="ui attached segment" {% endif %}>
                <h4>{{ object.userid.get_full_name }}:</h4>
                <p style="margin-left: 10px; margin-top: -4px;">{{ object.message }}</p>
            </div>
        {% endfor %}
{% endblock %}