{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'User Profile' %} {% endblock %}

{% block content %}
    <h1>{% trans 'Job Applications' %}</h1>

<table class="ui table segment">
    <thead>
            <tr>
                <th class="text-left">Position</th>
                <th class="text-left">Date</th>
                <th class="text-left">Status</th>
                <th class="text-left">Tasks</th>
            </tr>
    </thead>

    <tbody>
    {% for application in applications %}
        <tr>
            <td><a href="application-page/{{ application.id }}">{{ application.vacancy.name }} </a> </td>
            <td>{{ application.senddate }}</td>
            <td>{{ application.status.name }}</td>
            <td>{{ application.tasks.all|length }} {% trans ' tasks' %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}