{% extends "base.html" %}
{% load i18n %}

<title>{% block title %} {% trans 'User Registration' %} {% endblock %}</title>

{% block content %}

{#   {% if message_sent %}#}
{#    <p>#}
{#        {% trans 'Activation link is sent your email address. Please confirm your account and then log in' %}#}
{#    {% else %}#}
    {{ userid }}
       <h1>{% trans 'Job Application Form' %}</h1>
       <div class="ui form segment">
            <form autocomplete="off" action="{% url 'core:user_registration'  %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                        <div class="two fields">
                          <div {% if form.first_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ form.first_name.label_tag }}
                            <input id="id_first_name" maxlength="50" placeholder="{% trans 'First Name' %}" name="first_name" type="text" />
                            {% if form.first_name.errors %}<div class="ui red pointing prompt label transition visible" style="display: inline-block;">{{ form.first_name.errors.0 }}</div>{% endif %}
                          </div>

                          <div {% if form.last_name.errors %} class="field error" {% else %} class="field" {% endif %}>
                            {{ form.last_name.label_tag }}
                            <input id="id_last_name" maxlength="50" placeholder="{% trans 'Last Name' %}" name="last_name" type="text" />
                            {% if form.last_name.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.last_name.errors.0 }}
                                </div>
                            {% endif %}
                          </div>
                        </div>

                        <div {% if form.cv.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.cv.label_tag }}
                          {{ form.cv }}
                          {% if form.cv.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.cv.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if form.vacancy.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.vacancy.label_tag }}
                          {{ form.vacancy }}
                          {% if form.vacancy.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.vacancy.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
                        <div {% if form.userid.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.userid.label_tag }}
                          {{ form.userid }}
                          {% if form.userid.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.userid.errors.0 }}
                                </div>
                          {% endif %}
                        </div>


                        <button class="ui blue button">{% trans 'Submit' %}</button>

            </form>
       </div>
                
{##}
{#    {% endif %}#}

	
{% endblock %}