{% extends 'base.html' %}
{% load   i18n%}
{% block title %} {% trans 'Vacancies ' %}{% endblock %}
{% block content %}
    <h1>{% trans 'Vacancies' %}</h1>
    {% for vacancy in vacancy_list %}
        <div class="vacancy">
        <h3> <a  href="{{ vacancy.slug }}"  >{{ vacancy.name }}</a></h3>
        <li>{{ vacancy.location }}</li>
        <li>{{ vacancy.salary_description }}</li>
        <li>{{ vacancy.education }}</li>
        <li>{{ vacancy.experience }}</li>
        <a  href="{{ vacancy.slug }}"  ><span>{% trans 'Read More'%}...</span> </a>
        </div>
    {% endfor %}
{% endblock %}
                {% block right-bar-partner %}
{% endblock %}
