{% extends 'base.html' %}
{% load   i18n%}
{% block title %} Vacancies {% endblock %}

{% block content %}
    <div class="vacancy-detail">
        <h1>{{ vacancy.name }}</h1>
        <li><field>{% trans 'Location' %} :: </field>{{ vacancy.location }}</li>

        <li><field>{% trans 'Salary Description' %} :: </field>{{ vacancy.salary_description }}</li>
       <li><field>{% trans 'Education' %} :: </field>{{ vacancy.education }}</li>
       <li><field>{% trans 'Experience' %} :: </field>{{ vacancy.experience }}</li>

{#    </div>#}
{#    <div class="vacancy">#} </br>
        <field><h3><li>{% trans 'Job Description ' %}  :: </li></h3></field><p>{{ vacancy.job_description|safe }}</p>
</div>    <div class="vacancy-detail">

        <a href="/{{ cur_language }}/vacancy/"><span>{% trans 'Return to job list' %}</span></a>
</div>
{% endblock %}

                {% block right-bar-partner %}
       <div class="ui form segment">
       <h2>{% trans 'Job Application Form' %}</h2>

       {% if not user.is_authenticated %}
           {% trans 'Please sign in or register to apply for this job' %}
            <div class="buttons">
                <a class="ui green submit button" href="{% url 'core:user_login' %}">{% trans 'sign in' %}</a>
            </div>
        {% else %}

{#            <form autocomplete="off" action="{% url 'vacancy:vacancy_apply'  %}" method="POST" enctype="multipart/form-data">#}
            <form method="POST"  enctype="multipart/form-data">
                {% csrf_token %}

                        <div {% if form.cv.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.cv.label_tag }}
                          {{ form.cv }}
                          {% if form.cv.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.cv.errors.0 }}
                                </div>
                            {% endif %}
                        </div>

                        <div {% if form.message.errors %} class="field error" {% else %} class="field" {% endif %}>
                          {{ form.message.label_tag }}
                          {{ form.message }}
                          {% if form.message.errors %}
                                <div class="ui red pointing prompt label transition visible" style="display: inline-block;">
                                    {{ form.message.errors.0 }}
                                </div>
                          {% endif %}
                        </div>
                        <input type="hidden" id="id_vacancy"  name="vacancy" value={{ vacancy.id }}>
                        <input type="hidden" id="id_userid"  name="userid" value={{ user.id }}>
                        <input type="hidden" id="id_status"  name="status" value="1">

                        <button  class="ui blue button">{% trans 'Submit' %}</button>

            </form>
                    {% endif %}
                           </div>

                <div id="userlinks">
                        <ul class="list">
                                <li class="news"><a>{% trans 'Other Vacancies' %}</a></li>
                                <div class="links-list">
                {% for other_vacancy in vacancy_list%}
                                        <ul class="link">
                                <li class=""><a href="/{{ cur_language }}/vacancy/{{ other_vacancy.slug }}">{{ other_vacancy.name }}</a></li>
                                        </ul>
                                   {% endfor %}
                                </div>
                        </ul>
                    </div>
{% endblock %}