{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'News Details' %}{% endblock %}

{% block head.extra %}
    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/news.css" />
    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/lightbox/lightbox.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/lightbox.js"></script>
{% endblock head.extra %}
   


{% block content %}

<div id="page" class="clearfloat">
  <div id="top" class="clearfloat">
  <h2>{{object.title}}</h2>
    <div id="headline">
      <div class="meta">
          {{ object.pub_date }} | <a class="{{ object.title }}" href="{{MEDIA_URL}}{{object.image}}/" data-lightbox="{% trans 'title' %}" data-title="">{{object.title}}</a>
      </div>
      <a class="{{ object.title }}" href="{{MEDIA_URL}}{{object.image}}/" data-lightbox="{{object.title}}" data-title="">
            <img alt="{{ object.title }}" class="middle-img" src="{{ MEDIA_URL }}{{object.image}}"/>
       </a>
      <p> {{ object.content|safe }}</p>
  </div>
</div>
</div>
<a href="{% url 'news:news_archive_index' %}"><h4>{% trans "View all news" %}</h4></a>


{% endblock %}