{% extends "base.html" %}
{% load i18n %}

    {% block title %}{% trans 'All News' %}{% endblock %}

    {% block head.extra %}
        <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/news.css" />
    {% endblock head.extra %}


{% block content %}

{% for object in pages.object_list %}

<div>
    <div id="headline">
	  <div class="meta"><h1><a href="{{ object.get_absolute_url }}">{{object.title}}</a></h1></div>
      <a href="{{ object.get_absolute_url }}"> <img src="{{ MEDIA_URL }}{{object.image}}" alt="" class="left" /></a>
       <p>{{ object.content|safe|truncatewords:90 }} <a href="{{ object.get_absolute_url }}"> {% trans 'read more' %} </a></p>
	   <a href=""></a>

  </div>
</div>

{% endfor %}
{#/*Page-in werti*/#}
    {% if page_count > 1  %}
        <div class="ui pagination menu">
            {% if pages.has_previous %}
                <a class="icon item" href="?page={{ pages.previous_page_number }}"><i class="icon left arrow"></i></a>
            {% endif %}
            {% for page_num in page_list %}
            {% if page_num == pages.number %}
                <a class="active item" href="?page={{page_num}}">{{page_num}}</a>

            {% elif page_num == -1 %}
                <div class="disabled item">...</div>
            {% else %}
                   <a class="item" href="?page={{page_num}}">{{page_num}}</a>
            {% endif %}
            {% endfor %}

            {% if pages.has_next %}
                <a class="icon item" href="?page={{ pages.next_page_number }}"><i class="icon right arrow"></i></a>
            {% endif %}
          </div>
    {% endif %}

{% endblock %}