{% extends "base.html" %}
{% load i18n %}

    {% block title %}{% trans 'All Partnership Programs' %}{% endblock %}

    {% block head.extra %}
        <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/news.css" />
    {% endblock head.extra %}


{% block content %}
    {% for program in pages.object_list %}
        <div {% if forloop.last %} class="post last" {% else %} class="post" {% endif %}>
            <h2>{% trans program.name  %}</h2>
            <div class="img-frame">
                <div class="top">
                    <div class="bottom">
                        <img src="{{ MEDIA_URL }}{{ program.image }}" alt="" style="width: 287; max-height: 190px;"/>
                    </div>
                </div>
            </div>
            <p>{{ program.desc|safe|truncatewords:18}}<a href="{% url 'partnership_program:details' program.slug  %}" title="read more" href="#">{%trans 'read more' %}</a></p>
        </div>
    {% endfor %}
    <div class="cl"></div>

{#/*Page-in werti*/#}
    {% if page_count > 1  %}
        <div class="ui pagination menu">
            {% if pages.has_previous %}
                <a class="icon item" href="?page={{ pages.previous_page_number }}"><i class="icon left arrow"></i></a>
            {% endif %}
            {% for page_num in page_list %}
            {% if page_num == pages.number %}
                <a class="active item" href="?page={{page_num}}">{{page_num}}</a>

            {% elif page_num == -1 %}
                <div class="disabled item">...</div>
            {% else %}
                   <a class="item" href="?page={{page_num}}">{{page_num}}</a>
            {% endif %}
            {% endfor %}

            {% if pages.has_next %}
                <a class="icon item" href="?page={{ pages.next_page_number }}"><i class="icon right arrow"></i></a>
            {% endif %}
          </div>
    {% endif %}

{% endblock %}