{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans 'Partnership Details' %}{% endblock %}

{% block head.extra %}
    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/news.css" />
    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/lightbox/lightbox.css" />
    <link  type="text/css" rel="stylesheet" media="all" href="{{ STATIC_URL }}css/jquery-ui.css" />

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lightbox/lightbox.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>

    {% for material in program_materials %}
    <script>
        $(function() {
         var myPos = [ $(window).width()/3.7, 60 ];
        $("#materialTextDialog{{ material.id }}" ).dialog({
          title:'{{ material.name }}',
          maxHeight: 400,
          width: 620,
          autoOpen: false,
          modal: true,
          show: {
            effect: "blind",
            duration: 100
          },
          hide: {
            effect: "blind",
            duration: 100
          },

           position: myPos,
           resizable: false,
            close: function (ev, ui) { window.location.reload() }
           }).dialog("widget")
                .next(".ui-widget-overlay")
                .css("background","black")

            $( "#materialTextOpener{{ material.id }}" ).click(function() {
            $( "#materialTextDialog{{ material.id }}" ).dialog( "open" );
        });
        });

    </script>
    {% endfor %}

{#  for partnership program request  #}
{#    <script>#}
{#        function sendRequest(element){#}
{#            data="id={{ part_program.id }}";#}
{#            $.ajax({#}
{#                type:'get',#}
{#                url: "{% url 'partnership_program:details' %}",#}
{#                data: data,#}
{#                dataType: 'json',#}
{#                success: function (data) {#}
{#                    if (data['created']==0) {#}
{#                        console.log("Your request didn't sent.");#}
{#                    }#}
{#                    else if (data['created']==1) {#}
{#                        console.log('program request created');#}
{#                    }#}
{#                },#}
{#                error: function(data) {#}
{#                    alert("Request don't sent!");#}
{#                }#}
{#            });#}
{#        }#}
{#    </script>#}

{% endblock head.extra %}
   

{% block content %}

    <div id="page" class="clearfloat">
      <div id="top" class="clearfloat">
      <h2>{{part_program.name}}</h2>
        <div id="headline">
          <div class="meta">
              {{ part_program.update_date|date:'b d, Y H:i' }} | <a class="{{ part_program.name }}" href="{{MEDIA_URL}}{{part_program.image}}/" data-lightbox="{% trans 'title' %}" data-title="">{{part_program.name}}</a>
          </div>
          <a class="{{ part_program.name }}" href="{{MEDIA_URL}}{{part_program.image}}/" data-lightbox="{{part_program.name}}" data-title="">
                <img alt="{{ part_program.name }}" class="middle-img" src="{{ MEDIA_URL }}{{part_program.image}}"/>
           </a>
          <p> {{ part_program.desc|safe }}</p>
      </div>
    </div>
    </div>
    <a href="{% url 'partnership_program:all' %}"><h4 style="float:left;margin-left:14px; margin-right: 20px;">{% trans "View all partnership programs" %}</h4></a>
{% endblock %}


{% block right-bar %}
        <div class="login">
            <i class="info icon"></i>
            {% if user.is_authenticated and not request_sent %}
                <p>{% trans 'Send request for this partnership program' %}</p>
            {% elif not user.is_authenticated %}
                <p>{% trans 'You must Log in for send request this partnership program' %}</p>
            {% elif user.is_authenticated and request_sent  %}
                <p style="color: #246298;">{% trans 'You already sent request for this partnership program. Please wait untill manager confirm your request.' %}</p>
            {% endif %}

            {% if not request_sent %}
                {#  send request button  fro program #}
                <form action="{% url 'partnership_program:details' part_program.slug %}" method="post">
                    {% csrf_token %}
                    <div class="buttons">
                        <button id="id_send_request" class="ui green icon button" >{% trans "Request for Program" %}</button>
                    </div>
                </form>
            {% endif %}

        </div>


    <div id="userlinks">
        <ul class="list">
            <li class="program-materials"><a>{% trans 'Partnership Program Materials' %}</a></li>
                <div class="links-list">
                    {% for material in program_materials %}
                        <ul class="link">
                            {% if material.file %}
                                <li class="file"><a href="{{ MEDIA_URL }}{{ material.file }}">{{ material.name }}</a></li>
                            {% else %}
                                <div hidden="hidden" id="materialTextDialog{{ material.id }}">{{ material.text|safe }}</div>
                                 <li class="text"><a id="materialTextOpener{{ material.id }}">{{ material.name }}</a></li>
                            {% endif %}
                        </ul>
                    {% endfor %}
                </div>
            <hr/>
            <li class="partnership-programs"><a>{% trans 'Partnership Programs ' %}</a></li>
            <div class="links-list">
                {% for program in latest_programs %}
                    <ul class="link">
                        <li><a href="{% url 'partnership_program:details' program.slug  %}">{{ program.name }}</a></li>
                    </ul>
               {% endfor %}
            </div>
        </ul>
    </div>
{% endblock right-bar %}